{% extends "base.html" %} {% block content %} {# form send order #}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Send Order</h4>
            </div>
            <div class="card-body">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                <form action="/futures/send_order/" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Symbol</label>
                                <input class="form-control" type="text" list="symbols" name="symbol"/>
                                <datalist id="symbols">
                                    {% for symbol in symbols %}
                                    <option value="{{ symbol }}">{{ symbol }}</option>
                                    {% endfor %}
                                </datalist>                                
                                <!-- <input type="text" class="form-control" name="symbol" placeholder="BTCUSDT" value="BTCUSDT"> -->
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Side</label>
                                <select class="form-control" name="side">
                                    <option value="BUY">BUY</option>
                                    <option value="SELL">SELL</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Type</label> {# show price if limit set #}
                                <select class="form-control" name="type" id="type" onchange="onTypeChange()" disabled>
                                    <option value="MARKET">MARKET</option>
                                    <option value="STOPMARKET">STOP</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-md-3 pl-1">
                            <div class="form-group" id="quantity" hidden>
                                <label>Quantity</label>
                                <input type="text" class="form-control" name="quantity" placeholder="0.001" value="0.001">
                            </div>
                        </div> -->
                        <div class="col-md-3 pr-1" id="price" style="display: none;">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" class="form-control" name="price">
                            </div>
                        </div>
                        <div class="row">
                            <table id="stop_order_table" class="display" style="width:50%">
                                <caption><button type="button" class="btn btn-primary btn-round" style="width:18%" id="add_row" onclick="addStoStopOrderRowInput()">Add Row</button></caption>
                                <caption><button type="button" class="btn btn-primary btn-round" style="width:18%" id="del_row" onclick="deleteStopOrderRowInput()">Delete Row</button></caption>
                                <thead>
                                    <tr>
                                        <th>STOP ORDERS</th>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <th>Percent</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">
                                        </th>
                                    </tr>

                                    
                            <div class="update ml-auto mr-auto">
                                </tfoot>
                            </table>
                                <button type="submit" class="btn btn-primary btn-round">Send Order</button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <center>
    <div>
        <table id="orders" class="display" style="width:50%">
        <thead>
            <tr>
                <th>ORDERS :</th>
            </tr>
            <tr>
                <th>Symbol</th>
                <th>Side</th>
                <th>Price</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.symbol }}</td>
                <td>{{ order.side }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.origType }}</td>
                <td>{{ order.origQty }}</td>
                <td><a href="/futures/cancel_order/{{ order.symbol }}">Cancel</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <br><br>
    <div>
        <table id="positions" class="display" style="width:50%">
            <thead>
                <tr>
                    <th>POSITIONS :</th>
                </tr>
                <tr>
                    <th>Symbol</th>
                    <th>Side</th>
                    <th>EntryPrice</th>
                    <th>Quantity</th>
                    <th>unRealizedProfit</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                {% for position in positions %}
                <tr>
                    <td>{{ position.symbol }}</td>
                    <td>{{ position.side }}</td>
                    <td>{{ position.entryPrice }}</td>
                    <td>{{ position.positionAmt }}</td>
                    <td>{{ position.unRealizedProfit }}</td>
                    <td><a href="/futures/close_position/{{ position.symbol }}">Close</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </center>
    </div>
    {% endblock %} {% block script %} {# if type is limit show price #}
    <script>
        function onTypeChange(){
            var type = document.getElementById("type").value;
            if(type == "MARKET"){
                document.getElementById("quantity").hidden = true;
            }else{
                document.getElementById("quantity").hidden = false;
            }
        }

        function addStoStopOrderRowInput(){
            var table = document.getElementById("stop_order_table");
            var tableSize = table.rows.length - 2;
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = `<input type="text" class="form-control" name="stop_price${tableSize}" placeholder="Price" value="0">`;
            cell2.innerHTML = `<input type="text" class="form-control" name="stop_percent${tableSize}" placeholder="Percent" value="100%">`;
        }

        function deleteStopOrderRowInput(){
            var table = document.getElementById("stop_order_table");
            var tableSize = table.rows.length - 2;
            if(tableSize > 0){
                table.deleteRow(-1);
            }
        }

    </script>
    {% endblock %}