<!-- Index page for Binance -->
{% extends "base.html" %} {% block content %}
{% load static %}
<br><br>
<center>
<img src="{% static 'MAINLOGO.PNG' %}" style="height: 40%; width:40%; border-radius: 25px;" class="d-inline-block align-top" alt="Binance">
</center>
<div class="jumbotron">
    <h1 class="display-3">Daric</h1>
    <p class="lead">Binance is a cryptocurrency exchange platform.</p>

</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>What is Binance?</h4>
        <p>Binance is a cryptocurrency exchange platform.</p>
        <h4>What is a cryptocurrency?</h4>
        <p>A cryptocurrency is a digital asset designed to work as a medium of exchange that uses strong cryptography to secure financial transactions, control the creation of additional units, and verify the transfer of assets.</p>
    </div>
    <div class="col-lg-6">
        <h4>What is a cryptocurrency exchange?</h4>
        <p>A cryptocurrency exchange is a platform where you can buy, sell, or exchange cryptocurrencies for other digital currency or traditional currency like US dollars or Euro.</p>
        <h4>What is the difference between Binance and other cryptocurrency exchanges?</h4>
        <p>Binance is the world's largest cryptocurrency exchange by trading volume and users. Binance is a blockchain ecosystem comprised of Exchange, Labs, Launchpad, Info, Charity Foundation, and Incubator.</p>
    </div>
</div>
{% endblock %}